/* main stylesheet */

@import './Root.css';

.top {
    top: 0; position: absolute;
}

.backdrop {

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.28;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.backdrop-2 {

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

html { 
    scroll-behavior: smooth;
    visibility: visible;
    opacity: 1;
    font-family: var(--txt-primary);
    background-color: #0a0d17;
    background: #0a0d17;
   
}

body {
    padding: 8vw;
    overflow-x: hidden;
    max-width: 87rem;
}

h1 {
    font-family: var(--txt-secondary); font-size: 6vh; font-weight: normal;
    color: var(--clr-primary-body);
    transition-duration: 0.2s;
}

h2 {
    font-family: var(--txt-primary); font-size: 2.75rem; font-weight: bold;
    color: var(--clr-primary-body);
    text-align: center;
    padding: 6.25rem 0 0 0; letter-spacing: 0.125rem; transition-duration: 0.2s;
}

h3 {
    color: var(--clr-primary-body);transition-duration: 0.2s;
    font-family: var(--txt-primary); font-size: 34px; font-weight: 500;
}

h4 {
    color: var(--clr-primary-body);
    font-family: var(--txt-secondary);
    font-size: 4vh;
    word-spacing: -5px;
    font-weight: bold; transition-duration: 0.2s;
}
p {
    color: var(--clr-primary-body);
    font-size: 0.938rem;
    line-height: 2.4;
}

.projects i {
    color: var(--ico-fill-2);
}

i {
    color: var(--ico-fill);
    padding: 8px; font-size: 20px;
    transition-duration: 0.15s;
}

i:hover {
    opacity: 0.6;
    cursor: pointer;
}

span {
    font-family: var(--txt-secondary); font-size: 14px;
    color: var(--clr-primary-light);
    transition-duration: 0.25s;
}

.hi {

    font-size: 20px;
    font-weight: 500;
} 

.projects span {
    font-size: 14px;
    color: var(--clr-primary-body);
}
.image { padding-right: 30px;
}

.footer span {
    font-family: var(--txt-secondary); font-size: 12.5px;
    display: block; text-align: center; opacity: 70%;
    bottom: 0; padding: 6px; max-width: 400px;
    margin: 0 auto 0 auto;
    transform: translateY(80px);
    color: var(--clr-primary-body);
}

.footer span:hover {
    color: var(--clr-primary-light);
}

.resume i {
    font-style: normal;
    color: var(--clr-primary-body);
    opacity: 0.75;
}

.resume i:hover {
    opacity: 0.9;
}
u.dash {
    text-decoration-color:#8dc4e966;
    text-decoration-style:dashed;
}

u.interact {
    text-decoration-color: #ffffff00;
    text-decoration: none;
    font-style: italic;
}

u.pos {
    background: #8DC4E9;
    background: linear-gradient(to right, #8DC4E9 0%, #65a6e8 100%);
    background-clip: text;
    text-decoration: none;
    -webkit-text-fill-color: transparent;
}

a {  
    color: var(--clr-primary-light); font-size: 13px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-primary-body);
    transition-duration: 0.3s;
}

b {
    font-weight: normal; text-align: left;
    font-family: var(--txt-secondary); color: var(--clr-primary-light);
    user-select: none;
    margin: 0px 10px 0px 0px;
    padding: 5px 12px;
    font-size: 13px;
    background-color: #82b0dc15;
    border-radius: 5px;
}

.contact a {
    font-size: 18px; font-family: var(--txt-secondary); color: var(--clr-primary-light);
    text-align: left;
}
.contact a:hover {
    color: var(--clr-primary-body);
}

.navbar {
    z-index: 5; user-select: none;
    top: 0; right: 0; padding: 18px;
    position: fixed; width: 100%;
    background-color: var(--navbar-fill); backdrop-filter: blur(10px);
    text-align: right;
    border-bottom: 0.5px solid var(--navbar-border);
}

.navbar a {
    padding: 3rem 30px;
    font-family: var(--txt-secondary); font-size: 16px; color: var(--clr-primary-light);
    opacity: 90%;
    transition-duration: 0.3s;
}

.email {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.5, 0.610, 0.355, 0.9);
}

.email:hover {
    transform: translateX(6px);
}

.floaters {
    z-index: 3; padding: 15px; position: fixed;
    bottom: 0; right: 0;
    border-radius: 20px;
}

.floaters i {
    margin: 10px;
    border-radius: 8px;
    backdrop-filter: blur(9px);
}

.floaters i:hover {
    transform: translateY(-7px);
}

.skillset {-webkit-user-drag: none; max-width: 50vw;}
.tag, .skills {margin: 0 auto; text-align: center; max-width:700px}

.tag {margin-top: -10px; color: #90a1b5}

img { user-select: none; border-radius: 14px; transition-duration: 0.25s;}

img.intro {
    width:330px; float: right;
    padding: 60px 70px 50px 40px;
    transition-duration: 0.25s;
    backdrop-filter: blur(2px);
    
}

.container img {
    filter: grayscale(20%);
}

.container img:hover {
    filter:grayscale(50%);
    box-shadow: 10px 10px 50px #0000003f;
   
}

button {
    background-color: #00000000;
    border: 0;
    margin-left: -12px;
    font-size: 16px;
}

button.intro {
    padding: 12px 50px;
    margin: 20px 20px 20px 0px;

    color: var(--clr-primary-body); font-family: var(--txt-secondary); font-weight: 600;
    background-color: #8dc4e90c;

    border: 1.5px solid #8dc4e979;
    border-radius: 8px;

    transition-duration: 0.3s; user-select: none;
    transition-timing-function: cubic-bezier(0.5, 0.610, 0.355, 0.9);
}

button.intro:hover {
    background-color: var(--btn-fill); cursor: pointer; transform: translateX(6px);
}

svg {
    transform: translateY(2px);
}

.contact {
    text-align: left;
    padding: 2vw 5vw;
    bottom: 0;
    left: 0;
    border-radius: 14px;
    position:initial;
    backdrop-filter: blur(4px);
    background-color: #00000014;
}

.react {
    width:16px;
}

.version {
    position: fixed;
    bottom: 0; left: 0;
    padding: 20px;
    opacity: 0.5;
}
.version span { font-size:13px;
}

.projects {
    display:grid;
    text-align: center;
    justify-content: center;
    padding: 2.5vw 6.25vw;
    margin-bottom: 3.125rem; text-decoration: none;
}

.projects i { transform: translateY(2px); 
    font-size: 16px;
}
.external {padding-left: 6px}

.projects { margin-top: 1.563rem;}

.container { 
    padding: 0px 0px 6.25rem 0px;
    display: flex;
}

.text {
    text-align: left;
}

.cursor {
    width: 15px;
    height: 15px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    z-index: 4;
    transition-duration: 0.25s;
    transition-timing-function: cubic-bezier(0.5, 0.610, 0.355, 1);
}

/* experience */
h5 {
    color: var(--clr-primary-body);
    font-family: var(--txt-primary);
    font-size: 20px;
    font-weight: 500;
}

.exp-tag {
    position: absolute;
    top: 0; right: 0;
    border: 0;
    margin: 20px;
    background-color: #8dc4e90e;
}


.exp-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 32rem));
    gap: 30px;
    justify-content: center;
    transition-duration: 0.2s;
}
.exp-box {
    position: relative;
    background-color: #44418508;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #8dc4e913;
    transition-duration: 0.2s;
}

.exp-box:hover {
    border: 1px solid #8db0e922;
    box-shadow: 10px 10px 50px #0000003f;
}

.exp-image {
    background-color: #8dc4e913;
    opacity: 0.7;
    border-radius: 50%;
    padding: 10px;
    display: inline-flex;
}
/* skills */
.gradient {
    display: block;
    position: relative;
    overflow-y: hidden;
}

.gradient::after {
    content: "";
    background-image: linear-gradient(to left, #0a0d17, #0a0d1759, rgba(255, 255, 255, 0),#0a0d1759, #0a0d17);
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: 20;
}

.gradient>* {
    z-index: 10;
}
.skills-container {
    justify-content: center;
    transition-duration: 0.2s;
    white-space: nowrap;

}

.skills-box {
    background-color: #9d9da01c;
    padding: 15px;
    margin: 8px;
    border-radius: 50%;
    border: 1px solid #8dc4e91e;
    transition-duration: 0.2s;
    width: 65px;
    display: inline;
}

.skills-box:nth-child(4) {
    background: radial-gradient(circle, rgba(123, 137, 155, 0.76) 0%, rgba(252, 70, 106, 0) 100%);
}
.skills-box:nth-child(n+5) {
    width: 45px;
} 

.skills-box:nth-child(-n+3) {
    width: 45px;
}

.skills-box:nth-child(-n+2) {
    width: 25px;
}
.skills-box:nth-child(n+5) {
    width: 45px;
}
.skills-box:nth-child(n+6) {
    width: 25px;
}

.skills-box:nth-child(n+7) {
    width: 15px;
}

.skills-box:nth-child(-n+1) {
    width: 15px;
}
.pulse {
    animation: pulse-animation 1.75s infinite;
}