/* main stylesheet */

@import './root.css';

.top {
    top: 0; position: absolute;
}

.backdrop {

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
    opacity: 0.28;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

.backdrop-2 {

    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.3;
    max-width: 100%;
    max-height: 100vh;
    margin: auto;
}

html { 
    scroll-behavior: smooth;
    visibility: visible;
    opacity: 1;
    font-family: var(--txt-primary);
    background: rgb(34, 39, 57);
    background: linear-gradient(45deg, rgba(34, 39, 57, 1) 0%, rgba(17, 21, 35, 1) 100%);
    background-color: var(--clr-background);
   
}

body {
     margin-top: 3%; padding: 100px; zoom: 100%;
     display: grid; place-items: center;
}

h1 {
    font-family: var(--txt-secondary); font-size: 46px; font-weight: normal;
    color: var(--clr-primary-body);
}

h2 {
    font-family: var(--txt-primary); font-size: 38px; font-weight: bold;
    color: var(--clr-primary-body);
    background: #BFD1E2;
    background: linear-gradient(to right, #BFD1E2 0%, #84909C 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    padding: 100px 0px 0px 0px; letter-spacing: 1px;
}

h3 {
    color: var(--clr-primary-body);
    font-family: var(--txt-secondary); font-size: 34px; font-weight: normal;
}

p {
    color: var(--clr-primary-body);
    font-size: 14px;
    min-width: 200px; max-width: 700px;
    line-height: 2.4;
}

.projects i {
    color: var(--ico-fill-2);
}

i {
    color: var(--ico-fill);
    padding: 8px; font-size: 20px;
    transition-duration: 0.15s;
}

i:hover {
    opacity: 0.6;
    cursor: pointer;
}

span {
    font-family: var(--txt-secondary); font-size: 14px;
    color: var(--clr-primary-light);
    transition-duration: 0.25s;
}

strong:hover {
    text-shadow: 0 0 8px #8dc4e9;
}

.projects span {
    font-size: 14px;
    color: var(--clr-primary-body);
}
.image { padding-right: 30px;
}

.footer span {
    font-family: var(--txt-secondary); font-size: 12.5px;
    display: block; text-align: center; opacity: 70%;
    bottom: 0; padding: 6px; max-width: 400px;
    margin: 0 auto 0 auto;
    transform: translateY(80px);
    color: var(--clr-primary-body);
}

.footer span:hover {
    color: var(--clr-primary-light);
}

a {  
    color: var(--clr-primary-light); font-size: 13px;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
    color: var(--clr-primary-body);
    transition-duration: 0.3s;
}

b {
    font-weight: normal; text-align: left;
    font-family: var(--txt-secondary); color: var(--clr-primary-light);
    user-select: none;
    border: 1px solid #8dc4e969;
    margin: 0px 10px 0px 0px;
    padding: 4px 12px;
    font-size: 13px;
    background-color: #bfd1e215;
    border-radius: 5px;
}

.btt {
    color:aqua;
}

.btt:hover {
    color:aqua;
}

.contact {
    background-color: #ffffff02;
    border-radius: 18px;
    justify-content: center; display: grid;
    border: 0.5px solid var(--navbar-border);
}

.contact:hover {
    border: 0.5px solid #7cafd133;

}
.contact a {
    font-size: 18px; font-family: var(--txt-secondary); color: var(--clr-primary-light);
}
.contact a:hover {
    color: var(--clr-primary-body);
}
.contact h3 {
    font-size: 24px;
}

.navbar {
    z-index: 5; user-select: none;
    top: 0; right: 0; padding: 22px;
    position: fixed; width: 100%;
    background-color: var(--navbar-fill); backdrop-filter: blur(12px);
    box-shadow: 0px 10px 21px 0px rgba(0,0,0,0.16);
    border-bottom: 0.5px solid var(--navbar-border);
}

.navbar a {
    padding: 0.75rem 30px;
    font-family: var(--txt-secondary); font-size: 13px; color: var(--clr-primary-body);
    transition-duration: 0.3s;
}

.navbar a:hover {
    text-decoration: none;
    color: var(--clr-primary-light);
}

.navbar span {
    margin-right: 9px;
    font-family: var(--txt-secondary); font-size: 13px; opacity: 0.8
}

.email {
    transition-duration: 0.4s;
    transition-timing-function: cubic-bezier(0.5, 0.610, 0.355, 0.9);
}

.email:hover::before {
    content: '✉️ ';
}

.email:hover {
    transform: translateX(6px);
}

.floaters {
    z-index: 5; padding: 15px; position: fixed;
    bottom: 0; right: 0;
    border-radius: 20px;
}

.floaters i {
    margin: 10px;
    border-radius: 8px;
    backdrop-filter: blur(9px);
}

.floaters i:hover {
    transform: translateY(-7px);
}

.skillset {max-width:700px; -webkit-user-drag: none;}
.tag, .skills {margin: 0 auto; text-align: center; max-width:700px}

.tag {margin-top: -10px;}

.socials { padding-top: 20px; }

.socials a { padding-right: 20px; font-family: var(--txt-secondary) }

img { user-select: none; border-radius: 14px; transition-duration: 0.25s;}

img.intro {
    width:380px; float: right;
    padding: 70px 70px 50px 40px;
    transition-duration: 0.25s;
    backdrop-filter: blur(2px)
    
}

img.intro:hover{
    transform: translateY(-12px);
}

.container img:hover {
    filter:grayscale(50%);
    transform: translateY(-14px);
    box-shadow: 10px 10px 50px #0000003f;
   
}

button {
    background-color: #00000000;
    border: 0;
    margin-left: -12px;
    font-size: 16px;
}

button.intro {
    padding: 12px 50px;
    margin: 20px 20px 20px 0px;

    color: var(--clr-primary-body); font-family: var(--txt-secondary); font-weight: 600;
    background-color: #8dc4e90c;

    border: 1.5px solid #8dc4e979;
    border-radius: 8px;

    transition-duration: 0.3s; user-select: none;
    transition-timing-function: cubic-bezier(0.5, 0.610, 0.355, 0.9);
}

button.intro:hover {
    background-color: var(--btn-fill); cursor: pointer; transform: translateX(6px);
}

svg {
    transform: translateY(2px);
}
.interests {
    font-family: var(--txt-secondary);
    color: var(--clr-primary-body);
}
.contact {
    text-align: center;
    backdrop-filter: blur(2px)
}

.contact h2 {font-size: 44px; margin-bottom: -1px;}

.react {
    width:16px;
}

.line-1 {
    top: 50%;  
    border-right: 2px solid #ffffffbf;
    white-space: nowrap;
    overflow: hidden;
}

ul.interests {
    font-family: var(--txt-primary);
    font-size: 14px;
    column-count: 2;
    transition-duration: 0.15s;
    width: 500px;
    padding: 5px 0 5px 40px;
    list-style: none;
}

.interests li::before {content: '✦ '; font-size: 14px; color: var(--clr-primary-body); opacity: 0.9; margin-right: 12px;}

li { padding: 5px; }


.mobile-skills li{
    color: var(--clr-primary-light); padding: 10px; border: 1px solid; margin: 15px; border-radius: 10px;
    width: 150px; list-style: none;
}

.version {
    position: fixed;
    bottom: 0; left: 0;
    padding: 20px;
    opacity: 0.5;
}
.version span { font-size:13px;}

.projects {
    display:grid;
    text-align: center;
    padding: 40px 100px;
    margin-bottom: 50px; text-decoration: none;
}

.projects i { transform: translateY(2px); 
    font-size: 16px;
}
.external {padding-left: 6px}

.projects p { margin-top: 25px;}

.container { padding: 0px 0px 100px 0px; }

.aboutme {
    display: grid;
    grid-template-columns: 400px 500px;
    grid-template-rows: 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 0px;
    justify-content: center;
    place-items: center;
    padding: 120px 0 50px 0;
    }
    
.img { grid-area: 1 / 1 / 2 / 2; }
.desc { grid-area: 1 / 2 / 2 / 3; }
