 /* keyframes and animations */
@import './root.css'; @import './App.css';

.anim-typewriter { /* this was ugly so i removed */

    animation: typewriter 2.5s steps(44) 0.25s 1 normal both,
               blinkTextCursor 1000ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;} to{width: 8.6em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: var(--clr-primary-body);}
    to{border-right-color: transparent;}
  }

  @keyframes fadein {

    from { opacity: 0; transform: translateY(50px); }
    to   { opacity: 1; transform: translateY(0); }
  }

  @keyframes opacity {

    from { opacity: 0;}
    to   { opacity: 1;}
  }

  @keyframes nav {
    from { opacity: 0; transform: translateY(-20px) }
    to   { opacity: 1;transform: translateY(0px) }
  }

.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.7s all ease;
}

.reveal-2 {
  position: relative;
  transform: translateY(100px);
  opacity: 0;

  transition: 0.7s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal-text {
  animation: fadein 0.7s;
}

.reveal-delay {
  transition-delay: 1;
  animation: fadein 1s;
  animation-timing-function: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.reveal-opacity {
  animation: opacity 1s;
  animation-timing-function: ease-in-out;
}

