 /* keyframes and animations */
@import './Root.css'; @import './App.css';

  @keyframes fadein {

    from { opacity: 0; transform: translateY(50px); }
    to   { opacity: 1; transform: translateY(0); }
  }

  @keyframes opacity {

    from { opacity: 0;}
    to   { opacity: 1;}
  }

  @keyframes opacity-backdrop {

    from { opacity: 0; filter: blur(20px);}
    to   { opacity: 0.35; filter: blur(0px);}
  }

  @keyframes opacity-blur {

    from { opacity: 0; filter: blur(4px); transform: scale(1.040);}
    to   { opacity: 1; filter: blur(0px);}
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(143, 172, 216, 0.10);
    }
    100% {
      box-shadow: 0 0 0 30px rgba(255, 255, 255, 0);
    }
  }
.reveal{
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 0.7s all ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

.reveal-delay {
  transition-delay: 1;
  animation: fadein 1s;
  animation-timing-function: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.reveal-opacity {
  animation: opacity 0.8s;
  animation-timing-function: ease-in-out;
}
.reveal-blur {
  animation: opacity-blur 1.2s;
  animation-timing-function: ease-in-out;
}
.reveal-opacity-backdrop {
  animation: opacity-backdrop 0.8s;
  animation-timing-function: ease-in-out;
}
