/* media queries */
@import './root.css'; @import './App.css';

@media screen and (min-width: 1920px) {
    body {
        width: 1024px; margin: auto;
    }
    .navbar {
        text-align: right;
    }

}

@media screen and (max-width: 1920px) {
    .navbar {
        text-align: right;
    }
    body {
        display: grid; place-items: center
    }
}

@media screen and (max-width: 600px) {
    .navbar span { display: none}

    .navbar {
        text-align: center;
    }
    body {
        display: grid; place-items: center
    }
    
}

@media screen and (max-width: 1160px) {
    img.intro { 
       width: 250px;
    }
}

@media screen and (max-width: 890px) {
    img.intro { 
       display: none;
    }
}

@media screen and (max-width: 960px) {
    .floaters { 
       bottom: 0; right: 0; margin-left: 100%;
    }
    p { max-width: 400px; }

    .projects img {
        width: 400px;
    }
}

@media screen and (max-width: 800px) {
    .container {
        display: grid; text-align: left;
      }
    .bx-cloud {
        display: none;
    }

    .aboutme {
        display: block;
    }

    .contact p {
        padding: 20px;
    }

    h2 {
        display: flexbox; text-align: left;
    }

    h2.contact {text-align: center;}
    
    .tag {
        width:50%; margin: 0;text-align: left;
    }

      ul.interests {
        column-count: 1;
      }

      .skillset{
        display: none;
    }
    body {
        display: grid; place-items: center; overflow-x:hidden;
    }
}

@media screen and (min-width: 801px) {

    .flex {
        display: flexbox
    }

    .mobile-skills {
        display: none;
    }
    .container {
        display: flex;
      }

      .image {
        flex-basis: 130%
      }
      
      .text {
        text-align: left;
      }

      .projects img {
        width: 450px; margin: 6% -10% 0 -30%;
    }

    .container p { width: 500px; }
}

@media screen and (max-width: 700px) {
     i.arrow { display: none; }
    
     .navbar {
        text-align: left;
        transform: translateX(30px);
    }

    .projects {
        transform: translateX(-115px);
    }
    .contact, .footer {
        max-width: 350px;
        transform: translateX(-40px);
    }
    .contact h2 {
        text-align: center;
    }
}