@import './Root.css'; @import './App.css';

@media screen and (max-width: 1146px) {
    img.intro { 
       display: none;
    }

    .container {
        display: block;
        
    }
}

@media screen and (max-width: 960px) {
    .floaters { 
       bottom: 0; right: 0; margin-left: 100%;
    }
    .projects img {
        width: 25rem;
    }

}

@media screen and (min-width: 801px) {

      .image {
        flex-basis: 130%
      }

      .projects img {
        width: 28.125rem; margin: 6% -10% 0 -30%;
    }
    .container p {
        width: 500px;
    }
    body {margin: auto;}
}
/* mobile responsiveness */
@media screen and (max-width: 801px) {

    body {
        zoom: 80%;
        margin-top: 10vh; overflow-x:visible;
    }
    p, span, a, b {
        font-size: 1.125rem !important;
    }
    h5 {
        font-size: 1.75rem !important;
    }

.version span, .footer span, .cursor { display: none; }

}