@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
    font-family: 'SF Mono';
    src: url('./web-font-kit/sf_mono-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

:root {
    --clr-background: #121824;
    --clr-primary: #b3aae2;
    --clr-primary-light: #8dc4e9;
    --clr-primary-body: #bfd1e2;
    --clr-selection: #273140cc;
    --clr-tag: #00000010;

    --clr-scroll-icon: #adadad34;
    --btn-fill: #7cafd128;
    --ico-fill: #7cafd17c; --ico-fill-2: #7cafd1cd;
    
    --table-head-fill: #7cafd11e; --table-fill: #7cafd10a;
    --scrollbar-fill: #00000014; --scrollbar-hover: #5a839e;
    --navbar-fill: #0f141e75; --navbar-border: #7cafd1a3;
    --txt-primary: 'Poppins', sans-serif;
    --txt-secondary: 'SF Mono';
    --txt-tertiary: 'Jetbrains Mono';
}