@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --clr-background: #111523;
    --clr-primary-light: #8dc0e9;
    --clr-primary-body: #c8d7e6;

    --btn-fill: #7cafd10e;
    --ico-fill: #7cafd1b3; --ico-fill-2: #7cafd1cd;
    
    --scrollbar-fill: #00000000; --scrollbar-thumb: #2f365283; --scrollbar-hover: #e4e4e423;
    --navbar-fill: #11111507; --navbar-border: #7cafd11d;
    --txt-primary: 'Space Grotesk', sans-serif;
    --txt-secondary: 'Space Mono', monospace;
}