@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --clr-background: #111523;
    --clr-primary-light: #8dc4e9;
    --clr-primary-body: #c8d7e6;
    --clr-selection: #364762cc;
    --clr-tag: #00000010;

    --btn-fill: #7cafd10e;
    --ico-fill: #7cafd1b3; --ico-fill-2: #7cafd1cd;
    
    --scrollbar-fill: #00000000; --scrollbar-thumb: #e4e4e41a; --scrollbar-hover: #e4e4e423;
    --navbar-fill: #00000007; --navbar-border: #7cafd11d;
    --txt-primary: 'Space Grotesk', sans-serif;
    --txt-secondary: 'Space Mono', monospace;
}