/* selectors */
@import './root.css'; @import './App.css';

::-webkit-scrollbar {
  width: 9px; height: 9px; transition-duration: 0.2s;
}
  
::-webkit-scrollbar-track {
  background: var(--scrollbar-fill);
}
  
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb); border-radius: 20px; 
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-hover); 
}

::selection {
  background: var(--clr-selection); color: white;
}